body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

/*header styles*/

.header {
  display: flex;
  justify-content: space-between;
  background-color: #1f2937;
  align-items: center;
  padding: 10px;
}

.logo {
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  color: #f9faf8;
  flex-shrink: 0;
}

.right-links {
  color: #e5e7eb;
  display: flex;
  flex-shrink: 0;
  list-style-type: none;
  justify-content: space-between;
  gap: 18px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

/*content styles*/

.content {
  display: flex;
  background-color: #1f2937;
  align-items: flex-start;
  justify-content: center;
  padding: 60px;
  gap: 10px;
}

.left-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 400px;
  max-width: 400px;
}

.content-header {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8
}

.content-paragraph {
  font-size: 18px;
  color: #e5e7eb;
}

.content-button {
  background-color: #3882f6;
  flex: 0 0 1;
  width: 100px;
}

.content-img {
  flex: 1;
  background-color: lightgray;
  min-width: 400px;
  max-width: 400px;
}

/*info styles*/


