body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

/*header styles*/

.header {
  display: flex;
  justify-content: space-between;
  background-color: #1f2937;
  align-items: center;
  padding: 8px;
}

.logo {
  flex: auto;  
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  color: #f9faf8;
  margin-left: 150px;
}

.right-links {
  color: #e5e7eb;
  max-width: 30%;
  display: flex;
  flex: auto;
  list-style-type: none;
  justify-content: center;
  margin: 0;
  margin-right: 150px;
  padding: 0;
  gap: 28px;
  flex-wrap: nowrap;

}

a, li {
  text-decoration: none;
  color: #e5e7eb;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

/*content styles*/

.content {
  display: flex;
  background-color: #1f2937;
  justify-content: center;
  align-items: flex-start;
  padding-top: 70px;
  padding-bottom: 70px;
  gap: 10px;
}

.content-container {
  display: flex;
  gap: 15px;

}

.left-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  min-width: 400px;
  max-width: 400px;

}

.content-header {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8
}

.content-paragraph {
  font-size: 18px;
  color: #e5e7eb;
}

.content-button {
  background-color: #3882f6;
  color: #f9faf8;
  border: 0px;
  flex: 0 0 1;
  width: 100px;
  border-radius: 7px;
  font-size: 16px;
  padding: 4px;
}

.content-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: lightgray;
  min-width: 400px;
  max-width: 400px;
}

/*info styles*/

.info {
  display: flex;
  flex-direction: column;
}

.info-header {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 36px;
  font-weight: 700;
  align-self: center;
}

.info-container {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin: auto;
  padding-bottom: 20px;
}

.tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  width: 155px;
}

.tile-img {
  border: 2.5px solid #3882f6;
  border-radius: 10px;
  height: 155px;
  width: 155px;
}

.text {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
